:root{
    --body-background-color:hsl(212, 45%, 89%);
    --small-text-color:hsl(215, 7%, 55%);
    --container-color:hsl(0, 0%, 100%);
    --fat-text-color:hsl(218, 44%, 22%);
    --radius-for-container:10px;
    --radius-for-img:7.5px;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background-color) ;
    width:100vw;
    height:100vh;
    font-family: 'Outfit', sans-serif;
}
p,h1{
    margin:0;
    padding:0;
}
.foto-container{
    background-color: var(--container-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:15vw;
    height:45vh;
    text-align: center;
    padding:1%;
    padding-bottom: 2%;
    gap:5%;
    border-radius: var(--radius-for-container);
}
.class-img{
    width:99%;
    aspect-ratio: 1/1;
    object-fit: cover;
   
    border-radius: var(--radius-for-img);
    padding:0;
    margin:0;
}
.fat-text{
    font-size: 15px;
    font-weight: 700;
    color: var(--fat-text-color);
    width:90%;
    
}
.small-text{
    font-size: 10px;
    font-weight: 400;
    color: var(--small-text-color);
    width:85%;
}
@media(max-width:23.438rem){
    .foto-container{
        width:90vw;
        
        justify-content: space-around;
    }
    .class-img{
        width:90%;
    }
    .fat-text{
        width:79%;
    }
    .small-text{
        width:70%;
    }
}