:root{
    --body-background-color:hsl(212, 45%, 89%);
    --small-text-color:hsl(216, 15%, 48%);
    --container-color:hsl(0, 0%, 100%);
    --fat-text-color:hsl(218, 44%, 22%);
    --radius-for-container:0.625rem;
    --radius-for-img:0.469rem;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-background-color) ;
    
    min-height:100vh;
    margin:0;
    font-family: 'Outfit', sans-serif;
}
p,h1{
    margin:0;
    padding:0;
}
.foto-container{
    background-color: var(--container-color);
    display:flex;
    
    width:min(300px,90%);
    /*height:60vh;*/
    
    padding:0.9rem 0.9rem 1.25rem;

    border-radius: var(--radius-for-container);
}
.qr-figure{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    gap:1rem;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
.image-settings{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
   
    border-radius: var(--radius-for-img);
    padding:0;
    margin:0;
}
.qr-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.25rem;
    text-align: center;
    padding:0.625rem;
}
.fat-text{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--fat-text-color);
    
    
}
.small-text{
    font-size: 0.938rem;
    font-weight: 400;
    color: var(--small-text-color);
    
}
